/*page styles

this can be merged with other css pages eventually to create one css page used for everything, but not at the momment*/

/*currently using placeholder colours and images*/

/*container holds the entire page btw*/
#container{
    max-width: 1000px;
    margin: 0 auto;
    background-color:cornflowerblue;
}

header {
    width: 100%;
    height: 60px;
    background-color:blanchedalmond;
    display:flex;
}

#logo{
    width:50px;
    display: flex;
    padding:10px;
    margin:1px;
}

#navlinks{
    height: 40px;
    width: 100%;
}

#navlinks ul{
    display: flex;
    padding:10px;
    margin:10px;
    list-style-type:none;
    justify-content: space-evenly;
    
}

#profile-icon{
    display:flex;
    padding:10px;
}

#top-game-box{
    padding-top: 50px;
    display:flex;
    justify-content:space-evenly;
}

#popularity{
    padding-top: 60px;
    text-align: center;
}

#players{
    padding-top: 60px;
    text-align: center;
}

#middle-game-box{
    text-align: center;
    padding-bottom: 20px;
}

#bottom-game-box{
    padding-bottom:10px;
    display:flex;
    justify-content:space-evenly;
}

#description{
    padding-left:10px;
    margin-left:10px;
    width: 60%;
    background-color:lightsalmon;
    border: 2px solid black;
}

#purchase{
    width: 30%;
}

#purchase ul{
    list-style-type:none;
}

#purchase li{
    padding:5px;
}

#purchase button{
    padding:10px;
}

#player-info{
    display:flex;
    justify-content:space-evenly;
    padding-bottom:10px;
    background-color:linen
}

#comments{
    width:60%;
}

#comment{
    display:flex;
    border: 1px solid black;
    background-color:mediumvioletred;
}

#comment img{
    margin:10px;
}

#comment-text{
    background-color:darkseagreen;
    border: 1px solid black;
    padding:5px;
}

#records-box{
    background-color:darkseagreen;
    border: 1px solid black;
    padding:10px;
    text-align:center;
}

footer {
    background-color:dimgray;
    width:100%;
    height:30px;
    padding:5px;
    text-align:center;
}