<!DOCTYPE html>
<h1>Homepage</h1>
<body>


{% if user.is_authenticated %}
Hello {{ user.username }}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
    {% else %}
    Not logged in
{% endif %}

{% block content %}
    
    <div class = "gameBasicRow">
    {% for Game in game_items %}
        <li>
            <div class="gameCard">
             
            <img src="/media/{{Game.cover_img}}" width="80"/>
                
             <a href="{% url 'game_detail' Game.slug %}" >{{Game.name }}</a>
            <br>
            </div>
        </li>
    {% endfor %}
    </div>
    
{% endblock content %}

</body>