<!DOCTYPE html>
<h1>Mirage Score</h1>
<h2>Homepage</h2>
<body>


{% if user.is_authenticated %}
Hello {{ user.username }}
    
    <a href="{% url 'profile'%}">View Profile</a>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
    {% else %}
    Not logged in
{% endif %}

{% block content %}
    <style>
      ul {
        display: inline-flex;
      }
      li {
          display: block;
      }
      
    </style>
    <div class = "gameBasicRow">
    <ul>
    <li>
    {% for Game in game_items %}
        
            <div class="gameCard">
             
            <img src="/media/{{Game.cover_img}}" width="80"/>
                
             <a href="{% url 'game_detail' Game.slug %}" >{{Game.name }}</a>
            <br>
            </div>
        
    {% endfor %}
    </li>
    </ul>
    </div>
    
{% endblock content %}

</body>